## **Importing, Understanding and Cleaning the data**

###**Importing and Understanding**

In [ ]:
from io import IncrementalNewlineDecoder
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
URL1 = "https://raw.githubusercontent.com/AdityaSharma555/Exam_Trend_Analysis/main/dataset.csv"
URL2 = "https://raw.githubusercontent.com/AdityaSharma555/Exam_Trend_Analysis/main/dataset_frequency.csv"

In [ ]:
df1 = pd.read_csv(URL1)
df2 = pd.read_csv(URL2)

In [ ]:
df1.shape

(2364, 10)

In [ ]:
df2.shape

(98, 22)

In [ ]:
df1.head()

,SUBJECT,TOPIC,Year,Question ID,c (in thousands),s (in thousands),hc (in thousands),lc (in thousands),Item Difficulty Index (=c*100/s),Item Discrimination Index (=(hc-lc)/27)
0,PHYSICS,ELECTROSTATICS,2002,2002001,375,384,25,15,97.65625,0.370370
1,PHYSICS,ELECTROSTATICS,2002,2002002,133,233,14,16,57.08154506,-0.074074
2,PHYSICS,ELECTROSTATICS,2002,2002003,380,407,12,10,93.36609337,0.074074
3,PHYSICS,CURRENT ELECTRICITY,2002,2002004,410,680,13,6,60.29411765,0.259259
4,PHYSICS,CURRENT ELECTRICITY,2002,2002005,154,226,16,20,68.14159292,-0.148148

In [ ]:
df2.head()

,SUBJECT,TOPIC,2002,2003,2004,2005,2006,2007,2008,2009,...,2011\n-II,2012,2013,2014,2015,2016,2017,2018,Total No. of Ques.,Avg. % Weightage
0,PHYSICS,ELECTROSTATICS,3,3,4,3,2,3,1,4,...,1,2,2,1,2,1,1,1,39,5.13
1,PHYSICS,CURRENT ELECTRICITY,6,7,7,8,7,2,4,1,...,1,1,2,1,2,1,3,3,58,7.63
2,PHYSICS,CAPACITANCE,2,1,0,2,1,2,1,0,...,1,1,1,1,1,1,2,1,20,2.63
3,PHYSICS,ELECTRO MAGNETIC FIELD,6,5,6,5,3,5,2,2,...,2,2,1,2,3,2,1,2,51,6.71
4,PHYSICS,ELECTRO MAGNETIC INDUCTION,2,3,4,3,4,0,1,1,...,1,1,3,1,2,0,1,0,31,4.08

In [ ]:
df1.describe()

,Year,Question ID,s (in thousands),hc (in thousands),lc (in thousands),Item Discrimination Index (=(hc-lc)/27)
count,2364.000000,2.364000e+03,2364.000000,2364.000000,2364.000000,2364.000000
mean,2008.065567,2.008151e+06,487.867174,18.651861,11.087563,0.280159
std,4.917037,4.886236e+03,287.598084,5.260078,6.600211,0.313387
min,2002.000000,2.002001e+06,1.000000,10.000000,0.000000,-0.444444
25%,2004.000000,2.004111e+06,239.750000,14.000000,5.000000,0.074074
50%,2006.000000,2.006222e+06,494.000000,19.000000,11.000000,0.296296
75%,2012.000000,2.012053e+06,731.000000,23.000000,17.000000,0.518519
max,2018.000000,2.018092e+06,1000.000000,27.000000,22.000000,1.000000

In [ ]:
df2.describe()

,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011\n-I,2011\n-II,2012,2013,2014,2015,2016,2017,2018,Total No. of Ques.,Avg. % Weightage
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,2.295918,2.295918,2.295918,2.295918,1.530612,1.224490,1.071429,0.918367,0.918367,0.918367,0.918367,0.918367,0.918367,0.918367,0.918367,0.918367,0.918367,0.918367,19.479592,2.573878
std,2.026674,2.496221,2.016474,1.873357,1.712321,1.320189,0.965914,1.032198,1.001787,0.857634,0.845528,0.795263,0.845528,0.808122,0.808122,0.845528,1.012025,0.881347,14.616915,1.920737
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.130000
25%,1.000000,0.250000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,1.340000
50%,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,15.500000,2.060000
75%,3.750000,3.000000,3.750000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.750000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,27.000000,3.550000
max,9.000000,17.000000,8.000000,9.000000,9.000000,5.000000,4.000000,5.000000,5.000000,3.000000,3.000000,4.000000,4.000000,4.000000,3.000000,4.000000,5.000000,4.000000,75.000000,9.870000

##**Data Cleaning**

###As our data is already in required format, we will simply use .info() function of pandas to check for any null values and and .isnull().sum() function to check the number of null values. The null values can be then dropped/deleted using df.dropna() function.

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2364 entries, 0 to 2363
Data columns (total 10 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SUBJECT                                  2364 non-null   object
 1   TOPIC                                    2364 non-null   object
 2   Year                                     2364 non-null   int64
 3   Question ID                              2364 non-null   int64
 4   c (in thousands)                         2364 non-null   object
 5   s (in thousands)                         2364 non-null   int64
 6   hc (in thousands)                        2364 non-null   int64
 7   lc (in thousands)                        2364 non-null   int64
 8   Item Difficulty Index (=c*100/s)         2364 non-null   object
 9   Item Discrimination Index (=(hc-lc)/27)  2364 non-null   float64
dtypes: float64(1), int64(5), object(4)
memory usage: 184.8+ KB

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SUBJECT             98 non-null     object
 1   TOPIC               98 non-null     object
 2   2002                98 non-null     int64
 3   2003                98 non-null     int64
 4   2004                98 non-null     int64
 5   2005                98 non-null     int64
 6   2006                98 non-null     int64
 7   2007                98 non-null     int64
 8   2008                98 non-null     int64
 9   2009                98 non-null     int64
 10  2010                98 non-null     int64
 11  2011
-I             98 non-null     int64
 12  2011
-II            98 non-null     int64
 13  2012                98 non-null     int64
 14  2013                98 non-null     int64
 15  2014                98 non-null     int64
 16  2015                98 non-null     int64
 17  2016                98 non-null     int64
 18  2017                98 non-null     int64
 19  2018                98 non-null     int64
 20  Total No. of Ques.  98 non-null     int64
 21  Avg. % Weightage    98 non-null     float64
dtypes: float64(1), int64(19), object(2)
memory usage: 17.0+ KB

In [ ]:
pd.isnull(df1).sum()

SUBJECT                                    0
TOPIC                                      0
Year                                       0
Question ID                                0
c (in thousands)                           0
s (in thousands)                           0
hc (in thousands)                          0
lc (in thousands)                          0
Item Difficulty Index (=c*100/s)           0
Item Discrimination Index (=(hc-lc)/27)    0
dtype: int64

In [ ]:
pd.isnull(df2).sum()

SUBJECT               0
TOPIC                 0
2002                  0
2003                  0
2004                  0
2005                  0
2006                  0
2007                  0
2008                  0
2009                  0
2010                  0
2011\n-I              0
2011\n-II             0
2012                  0
2013                  0
2014                  0
2015                  0
2016                  0
2017                  0
2018                  0
Total No. of Ques.    0
Avg. % Weightage      0
dtype: int64

###**So we conclude that the data contains no null values, data types are is correct format for all variables and hence the data is ready for descriptive, exploratory and predictive analysis.**